<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12 mt-12">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rent A Car</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/cars"
            class="nav-link"
            >Araçlar</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/customers"
            class="nav-link"
            >Müşteriler</a
          >
          </li><li>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Yönetici İşlemleri
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" type="button"routerLink="/cars/carList">Araç işlemleri</a></li>
                    <li><a class="dropdown-item" type="button"routerLink="/brands/brandList">Marka İşlemleri</a></li>
                    <li><a class="dropdown-item"  type="button"routerLink="/colors/colorList">Renk İşlemleri</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </li>

        <li>
          <app-rent-summary></app-rent-summary>
        </li>

      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Araç Adı Giriniz..."
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>