<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
        <div class="form-floating">
          <input
            formControlName="userFirstName"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Ad"
          />
          <label for="floatingInput">Ad</label>
        </div>
        <div class="form-floating">
          <input
          formControlName="userLastName"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Soyad"
          />
          <label for="floatingInput">Soyad</label>
        </div>

        <div class="form-floating">
            <input
            formControlName="email"
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="Email"
            />
            <label for="floatingInput">Email</label>
          </div>

          <div class="form-floating">
            <input
            formControlName="password"
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Email"
            />
            <label for="floatingPassword">Password</label>
          </div>
  
        
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="register()">
          Sign up
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </body>
