

<!-- <div class="mb-3">
  <label for="filterText" class="form-label">Araba Ara</label>
  <input
    type="text"
    [(ngModel)]="carFilter"
    class="form-control"
    id="filterText"
    placeholder="Arama İfadesi Giriniz"
  />
</div> -->

<div *ngIf="carFilter" class="alert alert-success">
  {{ carFilter }} aradınız
</div>

<div class="container-fluid">
<div class="row ml-0 mr-0">
  <div *ngFor="let car of cars | carFilterPipe:carFilter" class="col-md-4 my-4">
    <div class="card" style="width: 100%">
      <img
        src="{{ carImageBasePath }}{{ getCarImage(car) }}"
        class="card-img-top"
        alt="Araba Resmi"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ car.carName | uppercase }}</h5>
        <hr />
        <p><b>Marka :</b> {{ car.brandName }}</p>
        <hr />
        <p><b>Model Yılı :</b> {{ car.modelYear }}</p>
        <hr />
        <p><b>Günlük Fiyatı :</b> {{ car.dailyPrice | currency }}</p>
        <hr />
        <p><b>Renk :</b> {{ car.colorName }}</p>
        <hr />
        <p><b>Findex Puanı :</b> {{ car.findexScore }}</p>
        <hr />

        <div class="d-grid gap-2 col-6 mx-auto">
          <button routerLink="/cars/detail/{{ car.carID }}" class="btn btn-outline-dark" type="button">Detay</button>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>
